name: Build
on:
  push:
    branches:
      - main

jobs:
  compile_and_test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: corretto
          cache: maven

      - name: Unit tests
        run: ./lifecycle/unit-test.sh

      - name: Integration tests
        run: ./lifecycle/integration-test.sh

      - name: Upload jar artifact
        uses: actions/upload-artifact@v4
        with:
          name: mood-tracker-jar
          path: target/mood-tracker-1.0-SNAPSHOT.jar

  build_docker_image:
    runs-on: ubuntu-latest
    needs: compile_and_test
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Download jar
        uses: actions/download-artifact@v4
        with:
          name: mood-tracker-jar
          path: target/

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Docker meta
        id: docker-metadata
        uses: docker/metadata-action@v5
        with:
          images: tobiaswaslowski/open-mood-tracker
          flavor: |
            latest=true
          tags: |
            type=semver,pattern={{version}}
            type=sha

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.docker-metadata.outputs.tags }}
          labels: ${{ steps.docker-metadata.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

  deploy:
    runs-on: self-hosted
    needs: build_docker_image
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: deploy
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
        run: |
          ./lifecycle/deploy.sh
